
<%= form_with model: @blog, local: true do |b| %>

    <%= b.text_field :title, class: 'form-control', placeholder: 'Title' %>
    <br>
    <%= b.text_area :content, class: 'form-control', placeholder: 'Content' %>
    <br>
    <%= b.submit %>
<%end%>