<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            <div class="about_page">
                
                <h1>This is the blog page</h1>
                <p>This is the text to the about page, here we talk about us jeje. >D</p>
            </div>
        </div>
    </div>
</div>

