

<div class="container" id="show_page">
    
    <h1><%= @blog.title%></h1>
    <br>
    <p><%= @blog.content%></p>
    <hr>
    <%= link_to 'Home', blogs_path, class: 'btn btn-outline-primary' %>
    <%= link_to 'Edit', edit_blog_path, class: 'btn btn-outline-primary' %>
    <%= link_to 'Delete', blog_path, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %>
    <br>
</div>
 